.back-admin{
  background-color:#87A4B5;
background-position:center;
background-size:cover;
}



.admin{
background-position:center;
background-size:cover;
    padding-top: 70px;
    width:80%;
    margin:0 auto;
}
.panel_admin{
    margin-top: 50px;
}
.admin h2{
    text-align: center;
}
.tab_name{
    text-align: center;
    font-size: 20px;

}

#boton-agregar{
    margin: 50px;
}
