.tabla-home{
  top: 50px;
  width:800px;
  height: 100vh;
  margin-left:-500px;
  position: relative;


}
#buton-gasto{
position: relative;
    top:-300px;


}

input[type=submit].aceptarGasto {
    width: 100%;
    background-color:#039BE5;
    color: white;
    padding: 14px 20px;
    margin: 30px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit].aceptarGasto:hover {
    width: 100%;
    background-color:#039BE5;
    color: white;
    padding: 14px 20px;
    margin: 30px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
}

button.cancelarGasto{
    width: 100%;
    background-color: #bf655d;
    color: white;
    padding: 14px 20px;
    margin: 30px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.cancelarGasto:hover{
    width: 100%;
    background-color: #bf655d;
    color: white;
    padding: 14px 20px;
    margin: 30px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
}

input[type=text].gastosText {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
