.cart2{
    width:240px;
    min-width:200px;
    color: white;

    min-height: 229px;
    max-height:230px;
    /*flex-grow: 1;*/
    margin: 10px 20px 30px 20px;
    text-align: center;
    padding-bottom: 20px;

}
.cart_img2{
    height:80%;
    width:100%;
    overflow: hidden;
    background-color: white;
}
.cart_img2 img{
    width:100%;
    height:190px;
    transition: all 1s ease;
}
.name_product2{
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 6px;

}
.fl{
    width:70%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
}


.apear2{
    margin-top: 10px;
    font-size: 13px;
    transition: all .5s ease;
}

.pes{
    margin: 0;
    margin-top: -4px;
}
.cart2:hover .apear{
    color:inherit;
    margin-top: 3px;
}
.cart2:hover img{
  opacity: 0.3;
    transform: scale(1.5);

  }
