.login{
    background-image: url('http://bozhuwallpaper.com/img/nike-football-wallpapers-wide-As-Wallpaper-HD.jpg');
    background-position: center;
 background-size: cover;
 width: 100%;
    height:auto;
    padding-bottom: 50px;
    padding-top:80px;
    font-family: 'Roboto', sans-serif;

}
.bienvenido {
  text-align: center;
  padding:50px;
  margin-left:120px;
  letter-spacing: 2px;
  position: absolute;
  color: white;
  font-size:50px;
  top:120px;
}
#bienvenido-amateur{
    font-size:60px;
    text-decoration: underline;
}
.card_login{
    background-color: white;
    opacity: 0.95;
    width:35%;
    margin:0 auto;
    margin-right: 90px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;

}
.redes_login{
    display: flex;
    justify-content: center;
    margin: 20px 0 ;
}
.card_login h3{
    font-size: 20px;

}
.circle_f{
    background-color: #3B5998;
    width:40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}
.circle_f span, .circle_g span{
    margin-top: 10px;
    font-size: 20px;
}
.circle_g{
    background-color: #DC4A38;
    width:40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}
.line_log{
    height:1px;
    width:90%;
    margin: 0 auto;
    background-color: #D6DEE6;
    border: none;
}
.log_email{
    text-align: left;
    width:90%;
    margin: 30px auto;
    color:#889096;
}
.log_email .input{
    width:100%;
    height:40px;
    border:1px solid #A7B0B7;
    opacity: .6;
    transition: border .2s ease;
    border-radius: .3125rem;
    line-height:1.2;
    padding-left: 7px;

}
.ayuda{
    margin: 20px 0;
    text-align: center !important;
    color:#889096;
}
.btn_login{
    background-color: #a7c49f;
    width:50%;
    height:40px;
    padding: 3px 6px;
    margin-left: 25%;
border: transparent;
 color:black;
    cursor: pointer;
}
.btn_login:hover{
letter-spacing:1px;
}
.mostrar{
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
}
.tog{
    display: inline-flex;
    margin-top: 10px;
}
@media(max-width:650px){
    .card_login{
        width:80%;
        margin: 0 auto;
        height:auto;
        padding: 10px;
    }
    .log_email .input{
        width:90%;
        height:40px;
        border:1px solid #A7B0B7;
        opacity: .6;
        transition: border .2s ease;
        border-radius: .3125rem;
        line-height:1.2;

    }
}
